/* BASE STYLES */
:root {
  /*BACKGROUND COLORS*/
  --main-bg-clr: #0e0308;
  --search-bar-clr: #320b1d;
  --podcasts-container-clr: #581835;
  --media-player-bg-clr: #e6901a;
  --episode-bg-clr: rgba(14, 3, 8, 0.27);
  --pod-image-bg-clr: #b8945c;

  /* FORM COLORS*/
  --form-bg-clr: rgba(14, 3, 8, 0.65);
  --button-clr: #a8531d;

  /*TEXT COLORS*/
  --main-txt-clr: #d8cec5;

  /*FONTS*/
  --main-font: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

/* SIGN-UP PAGE */
.sign-up-page {
  background-color: var(--media-player-bg-clr);
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: var(--main-font);
}

.sign-up-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sign-up-container h2 {
  margin-left: 3rem;
  text-transform: uppercase;
}

.sign-up-form {
  background-color: var(--form-bg-clr);
  padding: 1rem;
  color: var(--main-txt-clr);
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  padding: 1rem;
  margin-top: 2px;
  font-weight: bold;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--main-txt-clr);
  width: 150px;
  color: var(--main-txt-clr);
}

input[type="email"] {
  margin-left: 26px;
}

input:focus {
  outline: none;
}

.sign-up-button {
  background-color: var(--button-clr);
  color: var(--main-txt-clr);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}

/* LAYOUT */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-clr);
  width: 100%;
}

/* HEADER */
.header-container {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 450px;
  height: 0.2rem;
  background-color: var(--search-bar-clr);
  border: black solid;
  border-radius: 40px;
  border-width: 3px;
}

.nav-link {
  color: var(--main-txt-clr);
  font-family: var(--main-font);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

/* FILTER BY TITLE */
.MuiFormControl-root {
  background-color: var(--search-bar-clr) !important;
  margin: 1rem !important;
  border-radius: 40px !important;
}

.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: var(--search-bar-clr) !important;
  height: 2rem;
  border-radius: 40px !important;
  color: var(--main-txt-clr) !important;
}

/* PODCASTS */
.explore-page {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.podcasts-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
  padding-top: 0.1rem;
  margin-top: 1rem;
  background-color: var(--podcasts-container-clr);
  border-radius: 0.5rem;
}

.podcasts-content {
  height: 65vh;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.podcast-card {
  padding: 1rem;
  margin: 1rem;
  width: 10rem;
  height: 14rem;
  background-color: var(--pod-image-bg-clr);
  border-radius: 0.5rem;
  filter: drop-shadow(4px 9px 14px #000000);
}

.podcast-image-container {
  width: 200px;
  height: 200px;
}

.podcast-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.podcast-title {
  color: var(--main-txt-clr);
  font-family: var(--main-font);
  font-size: 1rem;
  text-align: center;
  width: 150px;
}

/* CAROUSEL */
.carousel-container {
  background-color: var(--main-txt-clr);
  width: 25vw;
}

/* INDIVIDUAL PODCAST */
.podcast-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem auto;
  background-color: var(--podcasts-container-clr);
  color: var(--main-txt-clr);
  border-radius: 0.2rem;
  font-family: var(--main-font);
}

.indiv-podcast-image-container {
  width: 100px;
  height: 100px;
  background-color: var(--pod-image-bg-clr);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.indiv-podcast-image {
  object-fit: cover;
  object-position: center;
  width: 90px;
  height: 90px;
}
.podcast-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
}

.podcast-desc {
  display: flex;
  gap: 2rem;
}

.details-and-genres {
  padding: 0;
}

.podcast-details {
  background-color: var(--media-player-bg-clr);
  border-radius: 10px;
  padding: 1rem;
  color: black;
  font-size: 13px;
}

.genres {
  display: flex;
  margin: 0.5rem 1rem;
  justify-content: start;
}

.genre-tag {
  color: black;
  background-color: var(--main-txt-clr);
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: small;
  min-width: 2.5rem;
  text-align: center;
}

.podcast-episodes {
  display: flex;
  position: relative;
  gap: 0.5rem;
}
/* SEASONS */
.season-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 180px;
  height: 45vh;
  overflow: auto;
  background-color: var(--main-txt-clr);
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-left: -2.5rem;
  color: var(--podcasts-container-clr);
}
.season-link {
  color: black;
  font-size: 1rem;
}

/* EPISODES */
.episodes-container {
  height: 45vh;
  overflow: auto;
}
.play-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  margin: 0 0.5rem;
}

.heart-icon-container {
  justify-self: end;
}

.episode-div {
  height: 120px;
  margin: 1rem 0rem;
  border: red solid;
}

.episode-card {
  width: 900px;
  height: 100px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--episode-bg-clr);
  color: var(--main-txt-clr);
  margin: 0.5rem 0;
}

.episode-details {
  flex-grow: 2;
}

.episode-details p {
  font-size: 12px;
}

/* FAVOURITES */
.favourite-episodes-card {
  background-color: var(--media-player-bg-clr);
  border-radius: 10px;
  width: 350px;
  height: 50px;
  padding: 1rem;
  color: black;
  margin: 0 1rem;
}

.favourite-episodes-card-row-one {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.favourite-episodes-season-names {
  line-height: 1rem;
}

.favourite-episodes-season-names p {
  margin: 0;
}

.favourite-episodes-card-row-three {
  display: flex;
  flex-direction: column;
}

.delete-button {
  align-self: flex-end;
}

/* MEDIA PLAYER */
.media-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--media-player-bg-clr);
  border-radius: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: var(--media-player-bg-clr);
}

/* LOADING PAGE */

.loading-page-container {
  background-color: var(--main-bg-clr);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page-container h1 {
  color: var(--media-player-bg-clr);
}

/* FOOTER */
.footer {
  color: var(--main-txt-clr);
  font-family: var(--main-font);
  text-align: center;
  background-color: black;
  padding: 1rem;
  font-size: 0.8rem;
  margin-top: auto;
}
